<div class="tabla-container">
  <p-table
    [value]="productos"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos"
    [rowsPerPageOptions]="[5, 10, 20]"
    styleClass="p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="idProducto" style="width: 15%">
          ID <p-sortIcon field="idProducto"></p-sortIcon>
        </th>
        <th pSortableColumn="descripcion" style="width: 40%">
          Descripción <p-sortIcon field="descripcion"></p-sortIcon>
        </th>
        <th pSortableColumn="precio" style="width: 15%">
          Precio <p-sortIcon field="precio"></p-sortIcon>
        </th>
        <th pSortableColumn="existencia" style="width: 15%">
          Existencia <p-sortIcon field="existencia"></p-sortIcon>
        </th>
        <th style="width: 30%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
      <tr>
        <td>{{ producto.idProducto }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.existencia }}</td>
        <td class="text-center">
          <div class="btn-group">
            <button
              class="btn btn-warning btn-sm me-2"
              (click)="editarProducto(producto.idProducto)"
            >
              <i class="uil uil-edit"></i> Modificar
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="eliminarProducto(producto.idProducto)"
            >
              <i class="uil uil-trash-alt"></i> Borrar
            </button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>
